<div class="container">
  <h3>Click below to fetch data</h3>
  <hr />
  <button class="btn btn-info" (click)="getData()">
    Fetch Data
  </button>
  <hr />
  <div class="row">
    <table class="table table-hover" style="border: 1px solid #ddd !important;">
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of fetchedData">
        <tr>
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
